.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #f37c89;
}

table {
  color: rgb(13, 92, 177);
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: rgb(216, 230, 245);
}

.header-row {
    background: #34495E;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}